<link rel="stylesheet" href="/static/css/footer.css">
<!-- footer.html - WirelessWorks.IT custom footer -->
<footer class="ww-footer">
  <div class="ww-footer-bg" style="background: url('/static/img/haarlem-1.webp') center center/cover no-repeat;">
    <div class="ww-footer-content">
      <div class="ww-footer-col ww-footer-logo-col">
        <img src="/static/img/wIRELESSlogo-3.0-trans-300x85-1.png" alt="wirelessworks.it logo" class="ww-footer-logo">
        <div class="ww-footer-sub"></div>
        <div class="ww-footer-icons">

        </div>
        <div class="ww-footer-contact">
          E. <a href="mailto:info@wirelessworks.it">info@wirelessworks.it</a><br>
          Hendrik Figeeweg 5L<br>
          2031BJ, Haarlem<br>
          The Netherlands<br>
          T. +31 023 2001221
        </div>
        <div class="ww-footer-socials">
          <a href="#"><img src="/static/img/in.png" alt="Instagram"></a>
          <a href="#"><img src="/static/img/icon-linkedin.png" alt="LinkedIn"></a>
        </div>
      </div>
      <i class="fa fa-instagram" style="font-size:36px"></i>
      <div class="ww-footer-col">
        <div class="ww-footer-title">What we provide:</div>
        <ul>
          <li>Smart-IoT-Gateway</li>
          <li>KPI visibility</li>
          <li>Data dashboard</li>
          <li>Supply chain analytics</li>
          <li>Integrations</li>
          <li>Primary-Fixed-Wireless-Access</li>
          <li>Failover-Fixed-Wireless-Access</li>
        </ul>
      </div>
      <div class="ww-footer-col">
        <div class="ww-footer-title">Use Cases:</div>
        <ul>
          <li>PostNL</li>
          <li>Pharmaceutical</li>
          <li>Hive-Zox</li>
          <li>Fixed-Wireless-Access</li>
          <li>Logistics Security</li>
        </ul>
      </div>
      <div class="ww-footer-col">
        <div class="ww-footer-title">Company:</div>
        <ul>
          <li>About WirelessWorks.IT</li>
          <li>News</li>
          <li>Contact</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="ww-footer-bottom">
    Copyright &copy; 2025 WirelessWorks.IT International B.V. | <a href="#">Terms &amp; Conditions</a> | <a href="#">Privacy Policy</a>
  </div>
</footer>
