<link rel="stylesheet" href="/static/css/footer.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- footer.html - WirelessWorks.IT custom footer -->
<footer class="ww-footer">
  <div class="ww-footer-bg" style="background: url('/static/img/haarlem-1.webp') center center/cover no-repeat;">
    <div class="ww-footer-content">
      <div class="ww-footer-col ww-footer-logo-col">
        <img src="/static/img/wIRELESSlogo-3.0-trans-300x85-1.png" alt="wirelessworks.it logo" class="ww-footer-logo">
        <div class="ww-footer-sub"></div>
        <div class="ww-footer-icons">

        </div>
        <div class="ww-footer-contact">
          E. <a href="mailto:info@wirelessworks.it">info@wirelessworks.it</a><br>
          Hendrik Figeeweg 5L<br>
          2031BJ, Haarlem<br>
          The Netherlands<br>
          T. +31 023 2001221
        </div>
        <div class="ww-footer-socials">
          <a href="https://www.instagram.com/wirelessworks.it/" aria-label="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          <a href="https://www.linkedin.com/company/wirelessworks/" aria-label="LinkedIn"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        </div>
      </div>
      <div class="ww-footer-col">
        <div class="ww-footer-title">What we provide:</div>
        <ul>
          <a href="/#diagram"><li>Smart-IoT-Gateway</li></a>
          <a href="/#KPI"><li>KPI visibility</li></a>
          <a href="/#KPI"><li>Data dashboard</li></a>
          <a href="/#KPI"><li>Supply chain analytics</li></a>
          <a href="/#integrations"><li>Integrations</li></a>
          <a href="/#integrations"><li>Primary-Fixed-Wireless-Access</li></a>
          <a href="/#integrations"><li>Failover-Fixed-Wireless-Access</li></a>
        </ul>
      </div>
      <div class="ww-footer-col">
        <div class="ww-footer-title">Use Cases:</div>
        <ul>
          <a href="/postnl"><li>PostNL</li></a>
          <a href="/pharmaceutical"><li>Pharmaceutical</li></a>
          <a href="/hive-zox"><li>Hive-Zox</li></a>
          <a href="/fixed-wireless-access"><li>Fixed-Wireless-Access</li></a>
          <a href="/logistics-security"><li>Logistics Security</li></a>
        </ul>
      </div>
      <div class="ww-footer-col">
        <div class="ww-footer-title">Company:</div>
        <ul>
          <a href="/about"><li>About WirelessWorks.IT</li></a>
          <a href="/news"><li>News</li></a>
          <a href="/contact"><li>Contact</li></a>
        </ul>
      </div>
    </div>
  </div>
  <div class="ww-footer-bottom">
    Copyright &copy; 2025 WirelessWorks.IT International B.V. | <a href="#">Terms &amp; Conditions</a> | <a href="#">Privacy Policy</a>
  </div>
</footer>
